NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_BARK_STANDARD_MINT=<STANDARD_MINT_ADDRESS>
NEXT_PUBLIC_BARK_PREMIUM_MINT=<PREMIUM_MINT_ADDRESS>
MONGODB_URI=<MONGODB_URI>
NEXT_PUBLIC_ADMIN_WALLETS=<wallet1,wallet2,...>